<div class="container">
<div>
  <h1>Dashboard</h1>
  <%= link_to 'New Link', new_default_link_path, class: "btn btn-primary pull-right" %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Original URL</th>
      <th>IP</th>
      <th>Hits</th>
      <th>Tracked URL</th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <th scope="row"><%= link_to "#{link.title}", default_link_path(link) %></th>
        <th><%= link.original_url %></th>
        <td><%= link.ip %></td>
        <% short_link = link.shortened_urls.first%>
        <td><%= short_link.use_count %></td>
        <td><%= link_to "#{short_link.unique_key}", shortened_url_path(id: short_link.unique_key)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>